body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#root{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.first{
     display: flex;
    justify-content: center;
    align-items: center;
       background-color: white;
       height: 200px;
       width: 300px;
      
}

button{
    margin-left: 5px;
    height: 50px;
    font-size:20px;
    background-color:orange ;
}
