body{
       margin: 0px;
       padding: 0px;
       box-sizing: border-box;
}
.heading{
    display: flex;
    justify-content: space-between ;
    margin-bottom: 20px;
    margin-top: 10px;
}
.images{
    position:relative;
    left: 40px;
}
.option{
    padding-top: 10px;
    
}
.but , .pro{
     margin-right: 10px;
     height: 30px;
     border: none;
     background-color: white;
     font-size: 20px;
}
.searchbar{
    width: 400px;
    height: 30px;
    position: relative;
    top: 10px;
}
.Profile{
padding-top: 10px;
padding-right:20px ;
}

.middle{
    background-color: aliceblue;
     padding: 50px;
}
.card{
    background-color: rgb(105, 97, 104) ;
}
.img2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;

}